
{% extends "sellor/sellor_base.html" %}
{% load static %}
{% block title %}Page Title{% endblock title %}

{% block link %}
<link href= 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'> 
  
    <script src= 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'> 
    </script> 
  
    <script src= 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'> 
    </script> 
  
    <link rel="stylesheet" href="styles.css"> 

{% endblock link %}

{% block style %}
* { 
	margin: 0; 
	padding: 0
} 

html { 
	height: 100%
} 

h2{ 
	color: #2F8D46; 
} 
#form { 
	text-align: center; 
	position: relative; 
	margin-top: 20px
} 

#form fieldset { 
	background: white; 
	border: 0 none; 
	border-radius: 0.5rem; 
	box-sizing: border-box; 
	width: 100%; 
	margin: 0; 
	padding-bottom: 20px; 
	position: relative
} 

.finish { 
	text-align: center
} 

#form fieldset:not(:first-of-type) { 
	display: none
} 

#form .previous-step, .next-step { 
	width: 100px; 
	font-weight: bold; 
	color: white; 
	border: 0 none; 
	border-radius: 0px; 
	cursor: pointer; 
	padding: 10px 5px; 
	margin: 10px 5px 10px 0px; 
	float: right
} 

.form, .previous-step { 
	background: #616161; 
} 

.form, .next-step { 
	background: #2F8D46; 
} 

#form .previous-step:hover, 
#form .previous-step:focus { 
	background-color: #000000
} 

#form .next-step:hover, 
#form .next-step:focus { 
	background-color: #2F8D46
} 

.text { 
	color: #2F8D46; 
	font-weight: normal
} 

#progressbar { 
	margin-bottom: 30px; 
	overflow: hidden; 
	color: lightgrey 
} 

#progressbar .active { 
	color: #2F8D46
} 

#progressbar li { 
	list-style-type: none; 
	font-size: 15px; 
	width: 25%; 
	float: left; 
	position: relative; 
	font-weight: 400
} 

#progressbar #step1:before { 
	content: "1"
} 

#progressbar #step2:before { 
	content: "2"
} 

#progressbar #step3:before { 
	content: "3"
} 

#progressbar #step4:before { 
	content: "4"
} 

#progressbar li:before { 
	width: 50px; 
	height: 50px; 
	line-height: 45px; 
	display: block; 
	font-size: 20px; 
	color: #ffffff; 
	background: lightgray; 
	border-radius: 50%; 
	margin: 0 auto 10px auto; 
	padding: 2px
} 

#progressbar li:after { 
	content: ''; 
	width: 100%; 
	height: 2px; 
	background: lightgray; 
	position: absolute; 
	left: 0; 
	top: 25px; 
	z-index: -1
} 

#progressbar li.active:before, 
#progressbar li.active:after { 
	background: #2F8D46
} 

.progress { 
	height: 20px
} 

.progress-bar { 
	background-color: #2F8D46
}

{% endblock style %}




{% block body %}
  
<div class="container"> 
    <div class="row justify-content-center"> 
        <div class="col-11 col-sm-9 col-md-7  
            col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2"> 
            <div class="px-0 pt-4 pb-0 mt-3 mb-3"> 
                <form method="post" action="{% url "add_product" %}" id="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <ul id="progressbar"> 
                        <li class="active" id="step1"> 
                            <strong>Step 1</strong> 
                        </li> 
                        <li id="step2"><strong>Step 2</strong></li> 
                         
                    </ul> 
                    <div class="progress"> 
                        <div class="progress-bar"></div> 
                    </div> <br> 
                    <fieldset> 
                        <h2>Step 1: Product Information</h2>
                            
                        <div class="form-group">
                            <label for="category">Category:</label>
                            <select class="form-control" id="category" name="category" onchange="getSubCategories()">
                                <option value="" selected>Select Category</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="sub_category">Sub-Category:</label>
                            <select class="form-control" id="sub_category" name="sub_category">
                                <option value="" selected>Select Sub-Category</option>
                            </select>
                        </div>
                            <div class="form-group">
                                <label for="product_name">Product Name:</label>
                                <input type="text" class="form-control" id="product_name" name="product_name">
                            </div>
                            <div class="form-group">
                                <label for="tags">Tags:</label>
                                <input type="text" class="form-control" id="tags" name="tags">
                            </div>
                            <div class="form-group">
                                <label for="about_product">About Product:</label>
                                <textarea class="form-control" id="about_product" name="about_product"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="auction_start_datetime">Auction Start Date and Time:</label>
                                <input type="datetime-local" class="form-control" id="auction_start_datetime" name="auction_start_datetime">
                            </div>
                            <div class="form-group">
                                <label for="auction_end_datetime">Auction End Date and Time:</label>
                                <input type="datetime-local" class="form-control" id="auction_end_datetime" name="auction_end_datetime">
                            </div>
                            
                        <input type="button" name="next-step" 
                            class="next-step" value="Next Step" /> 
                    </fieldset> 
                    <fieldset> 
                        <h2>Step 2: Product Images and Certificate</h2>
                            <div class="form-group">
                                <label for="image1">Image 1:</label>
                                <input type="file" class="form-control" id="image1" name="image1">
                            </div>
                            <div class="form-group">
                                <label for="image2">Image 2:</label>
                                <input type="file" class="form-control" id="image2" name="image2">
                            </div>
                            <div class="form-group">
                                <label for="image3">Image 3:</label>
                                <input type="file" class="form-control" id="image3" name="image3">
                            </div>
                            <div class="form-group">
                                <label for="image4">Image 4:</label>
                                <input type="file" class="form-control" id="image4" name="image4">
                            </div>
                            <div class="form-group">
                                <label for="authentication_certificate">Authentication Certificate:</label>
                                <input type="file" class="form-control" id="authentication_certificate" name="authentication_certificate">
                            </div>
                            
                        <input type="submit" name="next-step" 
                            class="next-step" value="submit" /> 
                        <input type="submit" name="previous-step" 
                            class="previous-step" 
                            value="Previous Step" /> 
                    </fieldset> 
                    
                </form> 
            </div> 
        </div> 
    </div> 
</div> 



    <script>
        
        $(document).ready(function () { 
            var currentGfgStep, nextGfgStep, previousGfgStep; 
            var opacity; 
            var current = 1; 
            var steps = $("fieldset").length; 
        
            setProgressBar(current); 
        
            $(".next-step").click(function () { 
        
                currentGfgStep = $(this).parent(); 
                nextGfgStep = $(this).parent().next(); 
        
                $("#progressbar li").eq($("fieldset") 
                    .index(nextGfgStep)).addClass("active"); 
        
                nextGfgStep.show(); 
                currentGfgStep.animate({ opacity: 0 }, { 
                    step: function (now) { 
                        opacity = 1 - now; 
        
                        currentGfgStep.css({ 
                            'display': 'none', 
                            'position': 'relative'
                        }); 
                        nextGfgStep.css({ 'opacity': opacity }); 
                    }, 
                    duration: 500 
                }); 
                setProgressBar(++current); 
            }); 
        
            $(".previous-step").click(function () { 
        
                currentGfgStep = $(this).parent(); 
                previousGfgStep = $(this).parent().prev(); 
        
                $("#progressbar li").eq($("fieldset") 
                    .index(currentGfgStep)).removeClass("active"); 
        
                previousGfgStep.show(); 
        
                currentGfgStep.animate({ opacity: 0 }, { 
                    step: function (now) { 
                        opacity = 1 - now; 
        
                        currentGfgStep.css({ 
                            'display': 'none', 
                            'position': 'relative'
                        }); 
                        previousGfgStep.css({ 'opacity': opacity }); 
                    }, 
                    duration: 500 
                }); 
                setProgressBar(--current); 
            }); 
        
            function setProgressBar(currentStep) { 
                var percent = parseFloat(100 / steps) * current; 
                percent = percent.toFixed(); 
                $(".progress-bar") 
                    .css("width", percent + "%") 
            } 
        
            $(".submit").click(function () { 
                return false; 
            }) 
        }); 



        // Fetch categories and populate the "Category" dropdown
    fetch('/api/get_categories/')  // Replace with your API endpoint
    .then(response => response.json())
    .then(data => {
        const categorySelect = document.getElementById('category');
        data.categories.forEach(category => {
            const option = document.createElement('option');
            option.value = category.id;
            option.textContent = category.cat_name;
            categorySelect.appendChild(option);
        });
    });

// Fetch sub-categories and populate the "Sub-Category" dropdown
function getSubCategories(){
    var cat = parseInt(document.getElementById('category').value);
    const subCatSel = document.getElementById('sub_category');
    subCatSel.innerHTML = "<option value='' selected disabled>Select Your Sub Categories</option>"
    var cData;
    fetch('/api/get_subcategories/')  // Replace with your API endpoint
    .then(response => response.json())
    .then(data => {
        for (i in data.categories_and_subcategories){
            if (parseInt(i) === (cat-1)){
                cData = data.categories_and_subcategories[i].subcategories;
            }
        }
        for (i in cData){
            console.log(cData[i]);
            const option = document.createElement('option');
            option.value = i;
            option.textContent = cData[i].sub_name;
            subCatSel.appendChild(option);
        }
        }).catch(error => {
        console.error(error);
    });
}
        

</script>

    {% endblock body %}

    <script src="script.js"></script> 

  <!-- Other content for this page -->

