{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Antique Treasure Delivery Service</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
      
    </style>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="{% static 'static/assets/img/wall.jpg' %}" alt="Antique Treasure Logo">
        </div>
        <h2>Welcome to Antique Treasure</h2>
        <p>Hello {{ firstname }},</p>
        <p>You have been added as a delivery boy. Your temporary password is: <strong>{{ password }}</strong></p>
        <p>Please log in and change your password as soon as possible.</p>
        <p class="thank-you">Thank you for joining our service!</p>
    </div>
</body>
</html>
