
<div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6">
          <h3 class="h6">Payment Method</h3>
          <p>Visa -1234 <br>
          Total: $169,98 <span class="badge bg-success rounded-pill">PAID</span></p>
        </div>
        <div class="col-lg-6">
          <h3 class="h6">Billing address</h3>
          <address>
            <strong>John Doe</strong><br>
            1355 Market St, Suite 900<br>
            San Francisco, CA 94103<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
          </address>
        </div>
      </div>
    </div>
  </div>
</div>