{% extends "admin/adminnav.html" %}


{% block style %}

<style>
    



    table {
        width: 70%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 12px;
        text-align: left;
    }

    th {
        background-color: #333;
        color: #fff;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    /* Reduce padding and font size for email cell */
    td:nth-child(2) {
        padding: 8px; /* Adjust the padding size as needed */
        font-size: 14px; /* Adjust the font size as needed */
    }

    .filter-container {
        text-align: center;
        margin: 20px 0;
    }

    select {
        padding: 8px;
    }

    button {
        padding: 8px 16px;
        background-color: #333;
        color: #fff;
        border: none;
        cursor: pointer;
    }
</style>

{% endblock style %}

{% block body %}

{% for message in messages %}

<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
<strong>{{message}}</strong> 
 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
 </div>

{% endfor %}

<div>
    <h1>pending sellors</h1>

    </div>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email ID</th>
            <th>Phone</th>
            <th>status</th>
             <th>Action</th>
             <th>view more details</th>

 
            
        </tr>
        <tbody>
            {% for seller in unapproved_sellers %}
            <tr>
                <td>{{ seller.user.first_name }}</td>
                <td>{{ seller.user.last_name }}</td>
                <td>{{ seller.user.email }}</td>
                <td>{{ seller.phone }}</td>
                <td><span class="status pending">Pending</span></td>
                <td>
                    <a href="{% url 'approve_seller' seller.id %}">Approve</a>
                </td>
                <td>
                    <a href="">View More Details</a>
                </td>
                
            </tr>
        {% empty %}
            <tr>
                <td colspan="5">No unapproved sellers.</td>
            </tr>
        {% endfor %}
        </tbody>
        <!-- Add more rows as needed without the "Role" field -->
    </table>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js">
    
        
    </script>
    

</div>
{% endblock body %}